body {
    background-color: black;
}

#title {
    color: blue;
    font-family: fantasy;
    text-align: center;
}

p {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

form {
    color: white;
    margin-top: 30px;
    text-align: center;
}

#button {
    background-color: rgb(84, 84, 250);
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 6px;
    padding: 4px 8px;
}

#textbox {
    padding: 50px;
}
